<createIssue>

  <form onsubmit={ submit }>
    <div class="row">
      <div class="col-md-2 mb-2">
        <select ref="issue_prio" class="form-control">
          <option value="0">Priority</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      <div class="col-md-3 mb-2">
        <input ref="issue_date" type="text" id="datepicker" placeholder="Pick date..." onclick="date()">
      </div>
      <div class="col-md-4 mb-2">
        <input ref="issue_name" class="form-control" type="text" name="create_issue" placeholder="new issue...">
      </div>
      <div class="col-md-3 mb-2">
        <button type="submit" class="btn btn-primary">Create Issue</button>
      </div>
    </div>
  </form>

<script>
this.issues = opts.issues;
this.projects = opts.projects;
this.active = false;

submit(e) {
e.preventDefault();

for (i = 0; i < this.projects.collection.length; i++) {
        if (this.projects.collection[i].active) {
            this.active = true;
            this.id = this.projects.collection[i].id;
            break;

        } else {
            this.active = false;
        }
    }

    if (this.active) {

	var issue_name = this.refs.issue_name.value;
	var issue_date = this.refs.issue_date.value;
	var issue_prio = this.refs.issue_prio.value;

	issue = {
    'id' : this.issues.collection.length,
    'client_id': uuidv4(),
    'project_id': this.id,
    'done': false,
		'title': issue_name,
		'due_date': issue_date,
    'priority': issue_prio,

	};
    this.issues.add(issue);
    this.refs.issue_name.value = "";
    this.refs.issue_date.value = "";
    this.refs.issue_prio.value = "0";
  }
}

// generate uuidv4
function uuidv4() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
    });
}
</script>
</createIssue>
