<createIssue>

  <form onsubmit={ submit }>
    <div class="row">
      <div class="col-md-2 mb-2">
        <select ref="issue_prio" class="form-control">
          <option value="">Priority</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      <div class="col-md-3 mb-2">
        <input ref="issue_date" type="text" id="datepicker" placeholder="Pick date..." onclick="date()">
      </div>
      <div class="col-md-4 mb-2">
        <input ref="issue_name" class="form-control" type="text" name="create_issue" placeholder="new issue...">
      </div>
      <div class="col-md-3 mb-2">
        <button type="submit" class="btn btn-primary">Create Issue</button>
      </div>
    </div>
  </form>

<script>
this.issues = opts.issues;

console.log(this.issues);

submit(e) {

    if(localStorage.getItem("index")>=0)
    {


	e.preventDefault();
	var issue_name = this.refs.issue_name.value;
	var issue_date = this.refs.issue_date.value;
	var issue_prio = this.refs.issue_prio.value;

	issue = {

    'index':localStorage.getItem("index"),
		'description': issue_name,
		'priority': issue_prio,
		'duedate': issue_date,
		'done': false,

	};

  var alreadyExists = false;

  if(this.issues.collection.length == 0)
  {
    this.issues.add(issue);
  }
  else
  {
      for(var i = 0; i<this.issues.collection.length;i++)
      {
          if(issue_name == this.issues.collection[i].description && localStorage.getItem("index") == this.issues.collection[i].index )
          {
             var alreadyExists = true;
          }
      }
      if(!alreadyExists)
      {
        this.issues.add(issue);
      }
      else
      {
        alert("An Issue with the same name is already part of your Project List!");
      }
    }
  }
}
</script>
</createIssue>
