<issue>
  <li class="list-group-item">
      <span style="text-align:center;">

        <strong>Title: { title }</strong>
        Due date: { due_date }
      </span>
      <div id="li-rigthbound">
        <input type="checkbox" name="done" ref="done" checked="{ done }" onclick="{ update_done }">
        <img style="padding-left: 5px;" class="float-right" src="images/trash.png" onclick="{ delete_issue }">
      </div>

  </li>

<script>

    this.issues = opts.issues;


delete_issue(e){

    for(var i = 0; i<this.issues.collection.length;i++)
    {
        if(this.client_id == this.issues.collection[i].client_id && this.project_id == this.issues.collection[i].project_id )
    {

        $.ajax({
            type: "DELETE",
            url: 'http://zhaw-issue-tracker-api.herokuapp.com/api/projects/'+ this.issues.collection[i].project_id +'/issues/'+ this.issues.collection[i].id,
            data: JSON.stringify(this.issues.collection[i]),
            contentType: 'application/json',
            dataType: 'json',
            error : function(error){console.log(error);},
            success: function(data,status){
                console.log("Successfully deleted Issue");
            }
          });

    }
        this.issues.update();
}


}

update_done(e){
    for(var i = 0; i<this.issues.collection.length;i++)
    {
        if(this.client_id == this.issues.collection[i].client_id && this.project_id == this.issues.collection[i].project_id )
        {
          if(this.done == true)
          {
            this.issues.collection[i].done = false;
          }
          else{
            this.issues.collection[i].done = true;
          }
          $.ajax({
              type: "PUT",
              url: 'http://zhaw-issue-tracker-api.herokuapp.com/api/projects/'+ this.issues.collection[i].project_id +'/issues/'+ this.issues.collection[i].id,
              data: JSON.stringify(this.issues.collection[i]),
              contentType: 'application/json',
              dataType: 'json',
              error : function(error){console.log(error);},
              success: function(data,status){
                  console.log("Successfully updated issue status");
              }
            });
        }
    }
    this.issues.update();

}

</script>

</issue>
