<issueList>
<div class="container">

<createIssue projects = "{ this.projects }" issues = "{ this.issues }"></createIssue>

<fieldset id="issuesFieldset">
<legend>{ name }</legend>
  <div class="row" id="issuesDiv">
    <div class="col-sm-12">
      <div class="panel panel-primary" id="result_panel">
        <div class="panel-body">
          <!--<ul class="list-group">-->
          <ul>
            	<issue issues ="{ this.issues }"  each="{ allIssues() }"></issue>
          </ul>
        </div>
      </div>
    </div>
  </div>
</fieldset>
</div>

<script>
  this.issues = opts.issues;
      this.projects = opts.projects;
      this.issues.fetch();
      this.name = "Issues: ";
      this.issues.save();
      for(i=0 ; i<this.projects.collection.length;i++)
      {
          if(this.projects.collection[i].active)
          {
              this.name =  opts.projects.collection[i].projectName+" :";

          }


      }

      this.allIssues = function() {
        for(i=0 ; i<this.projects.collection.length;i++)
        {
            if(this.projects.collection[i].active)
            {
                this.index =  opts.projects.collection[i].index;
            }
        }
        return  this.issues.allIndex(this.index);
      }

      this.on('update',function () {
          for(i=0 ; i<this.projects.collection.length;i++)
                  {
                      if(this.projects.collection[i].active)
                      {
                          this.name =  opts.projects.collection[i].projectName+" :";

                      }


                  }


              });
</script>

</issueList>
