<issueList>
  <div class="row" id="issuesDiv">
    <div class="col-sm-12">
      <div class="panel panel-primary" id="result_panel">
        <div class="panel-body">
          <!--<ul class="list-group">-->

              <ul each="{ issue in issues }">
            	<issue issue="{issue}"></issue>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <script>
  		var component = this;
  		var issues = opts.issues;
  		// save issues on update (delete, check, add)
  		component.on('update', function() {
  			localStorage.setItem("issues", JSON.stringify(issues));
  		});
  	</script>

</issueList>
