<issue>
  <li class="list-group-item">
      <span>
        <strong>{ description }</strong>
      </span>
      <div id="li-rigthbound">
        <input type="checkbox" name="done" ref="done" checked="{ done }" onclick="{ update_done }">
        <img style="padding-left: 5px;" class="float-right" src="images/trash.png" onclick="{ delete_issue }">
      </div>

  </li>

<script>

//TODO

    this.issues = opts.issues;


delete_issue(e){

    for(var i = 0; i<this.issues.collection.length;i++)
    {
        if(this.description == this.issues.collection[i].description && this.index == this.issues.collection[i].index )
    {
        this.issues.collection.splice(i,1);
    }
}
    this.issues.save();
    this.issues.update();

}

update_done(e){
    for(var i = 0; i<this.issues.collection.length;i++)
    {
        if(this.description == this.issues.collection[i].description && this.index == this.issues.collection[i].index )
        {
            this.issues.collection[i].done = true;
        }
    }
    this.issues.save();
    this.issues.update();

}

</script>

</issue>
