<projectForm onsubmit="{ refresh }">
<form id="projectForm">
    <input type="text"  ref="projectName" name="project" placeholder="new Project...">
  <button id="btnProject" class="btn-primary" onclick="{ createProject }">Create Project</button>

</form>
    <script>
      this.projects = new ProjectCollection(this);

      createProject(e) {
      e.preventDefault();

      this.projects.fetch();
      console.log(this.projects);

        if(this.refs.projectName.value) {
        this.projects.add({"projectName" : this.refs.projectName.value});
        this.refs.projectName.value="";
        }

      }

      refresh(e){
        console.log("test");
      }

</script>
</projectForm>
