<projectForm>
<form onsubmit="{ createProject }" id="projectForm">
    <input type="text"  ref="projectName" name="project" placeholder="new Project...">
  <button id="btnProject" class="btn btn-primary" type="submit">Create Project</button>

</form>
    <script>
      this.projects = opts.projects;
      var alreadyExists = false;

      createProject(e) {
        var main = this;
      e.preventDefault();
        if(this.refs.projectName.value) {
          for(var i = 0; i<this.projects.collection.length;i++){
            if(this.refs.projectName.value == this.projects.collection[i].title)
            {
              alreadyExists = true;
              alert("Project already exists, please use the existing project!");
            }
          }
          if(alreadyExists == false){

            //Create temporary JSON Object for Project
            var tempProject = {
              "id" : this.projects.collection.length,
              "client_id": "",
              "title" : this.refs.projectName.value,
              "active" : false};

            //Create the Project in the DB
            main.projects.createProject(tempProject, function(err, data){
              if(err == 200){
                main.projects.add(data);
              }else{
                alert(err.responseText);
              }
            });

            //Reset Placeholdervalue
            main.refs.projectName.value="";
          }
        }
      }

</script>
</projectForm>
