<projectList>
  <div class="container">
      <fieldset id="projectFieldset">
        <legend>Projects: </legend>

  <div >
    <div class="row" id="projectsDiv">
        <div class="col-sm-12">
            <div class="row">

            <div class="col-6 col-sm-4">
                <ul class="list-group">
                    <project projects ="{ this.projects }" issues = "{ this.issues }" each="{ allProjects() }"> </project>
                 </ul>
            </div>

            <div class="col-6 col-sm-8">
                <projectForm projects= "{ this.projects }"></projectForm>
            </div>
         </div>
      </div>
    </div>
  </div>
</fieldset>

      <issueList projects= "{ this.projects }" issues = "{ this.issues }" ></issueList>

    <script>
      var main =this;

        this.projects = new ProjectCollection(this);
        this.issues = new IssueCollection(this);
        this.projects.fetch();
        //MUSS ASYNCHRONISIERT WERDEN!!
        this.projects.save();

        //Check which project is currently active and load issues on page refresh!
        var id = 0;
        for(i = 0;i<this.projects.collection.length;i++)
        {
          if(this.projects.collection[i].active == 1)
          {
            id = this.projects.collection[i].id;
          }
        }

        //$.ajax get request for project id
        //this.issues.fetch(id);

        this.allProjects = function() {
            return this.projects.all();
        }
    </script>

</projectList>
