<projectList>

  <div class="container">

        <ul class="list-group">


        </ul>
      <project id="data" each="{ allProjects }"> </project>

      <projectForm projects= "{ this.projects }"></projectForm>
      <project each="{ allProjects() }"> </project>

  </div>
    <script>
        console.log("projectList");
            this.projects = new ProjectCollection($("#data"));
            this.projects.save();
            this.allProjects = function() {
                return this.projects.all();
            }

    </script>
</projectList>
