<project>
    <input   onclick="{ issue }" value="{ title }" ref="{ title }" id="projectInput" type="text" readonly>


    <script>

      this.issues = opts.issues;
      this.projects = opts.projects;

          issue(e){
            e.preventDefault();


              for(i = 0;i<this.projects.collection.length;i++)
              {
                  if(this.projects.collection[i].title == this.title)
                  {

                      this.projects.collection[i].active = true;

                  } else {
                      this.projects.collection[i].active = false;}

              }
              this.projects.save();
              this.issues.update();

          }
    </script>

</project>
