<projectList>
  <div class="container">
        <ul class="list-group">
            <project each="{ allProjects }"> </project>
        </ul>
  </div>

    <script>
      var status = false;

      //Abfrage aus localstorage

      if(!status){
        var projects = new ProjectCollection(this);
         // return all todos

         //Store list
        projects.save();

      }else{
        Console.log("List already exists");
      }


      //Returns all projects
      var allProjects = function() {
         return projects.all();
      }

    </script>
</projectList>
