<project>
  <li class="list-group-item">
    <input onclick="{ issue }" value="{ title }" ref="{ title }" id="projectInput" type="text" readonly>
    <img  class="float-right" src="images/trash.png" onclick="{ delete_project }">
  </li>
    <script>

      this.issues = opts.issues;
      this.projects = opts.projects;

          issue(e){
            e.preventDefault();


              for(i = 0;i<this.projects.collection.length;i++)
              {
                  if(this.projects.collection[i].clientId == this.clientId)
                  {
                      //Update active
                      this.projects.collection[i].active = 1;
                      this.projects.updateActive(this.clientId, 1);

                      //When clicking a project which is "Active" load the new issue list.
                      this.issues.fetch(this.clientId);

                  } else if(this.projects.collection[i].active == 1){

                      //Update inactive
                      this.projects.collection[i].active = 0;
                      this.projects.updateActive(this.projects.collection[i].clientId, 0);
                    }

              }
              this.projects.save();
          }

          delete_project(e){
            e.preventDefault();
            for(i = 0;i<this.projects.collection.length;i++)
            {
                if(this.projects.collection[i].clientId == this.clientId)
                {
                  var tempProject = this.projects.collection[i];
                  var main = this;
                  this.projects.removeProjectInDB(tempProject, function(err,data){
                    if(err == 200){
                      main.projects.remove(tempProject);
                    }else{
                       alert(err.responseText);
                    }
                  });

                }

            }
          }
    </script>

</project>
